<nav class="navbar">
    <div class="container-fluid">
      <!-- Brand Name -->
      <a class="navbar-brand" routerLink="/">
        <img
          src="https://angular.io/assets/images/logos/angular/angular.svg"
          alt="Angular Logo"
          width="30"
          height="30"
          class="d-inline-block align-text-top me-2"
        />
        Angular Training
      </a>
  
      <!-- Navigation Links -->
      <div class="navbar-links">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
        <a class="nav-link" routerLink="/calculator" routerLinkActive="active">
          Calculator
        </a>
      </div>
    </div>
  </nav>
  
  <div class="container mt-4">
    <router-outlet></router-outlet>
  </div>